<div class="container-fluid row wrapper">
    <nav class="">
        <div class="hamburger-menu">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
        </div>
        <div>
            <button (click)="visible=!visible;">Plan</button>
            <div class="planVoyageContainer" *ngIf="visible" [@slideInOut]>
                Plan voyage
            </div>
        </div>
    </nav>
    
    <div class="rightContainer">
        <header class="container-fixed pageHeader">
            <h1 class="pageHeading">Voyage Profitability</h1>
        </header>
        <div class="content container-fluid">
            
            <div>sdfas
                asdfas
                <br>
                sadfsad
                fsdfsdf
            </div>            
        </div>
        
    </div>
</div> 