<div class="container-fluid row wrapper">
    <nav class="">
        <div class="hamburger-menu">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
        </div>
    </nav>
    <div class="rightContainer">
        <header class="container-fixed pageHeader">
            <h1 class="pageHeading">Voyage Profitability</h1>
        </header>
        <div class="content container-fluid">
            <div class="planVoyageContainer">
                Plan voyage
            </div>
        </div>
    </div>
</div> 